@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@mixin defaultBody($bg-color: #EEE, $txt-color: #424a4f) {
    padding-top: 40px;
    font-family: Poppins;
    text-align: center;
    transition: background-color 1s, color 1s;
    background-color: $bg-color;
    color: $txt-color;
}


@mixin navLayout($ul-color: #bbb, $text-color: #222, $hover-color: #aaa) {

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            height: 60px;
            display: flex;
            background-color: $ul-color;
            overflow: hidden;
            justify-content: center;
            align-content: center;
            align-items: center;
            left: 0;
            top: 0;
            position: fixed;
            font-family: Poppins;
            font-size: 20px;
            text-align: center;
            color: $text-color;
        }

        li { display: inline-block; }
  
        a {
            display: block;
            padding: 6px 12px;
            cursor: pointer;
            margin-right: 5px;
            height: 50px;
            width: 100px;
            line-height: 50px;
            text-decoration: none;
            transition: background-color 0.5s, transform 0.5s;
        }
        a:hover {
            background-color: $hover-color;
            text-decoration: underline;
            transform: scale(1.25);
        }
}

@media (prefers-color-scheme: light) {
    nav {
        @include navLayout;
    }
    body{ 
        @include defaultBody;
    }
}

@media (prefers-color-scheme: dark) {
    nav {
        @include navLayout( #555, white, #777);
    }
    body {
        @include defaultBody($bg-color: #333, $txt-color: white);
    }
}