@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    background-color: #EEE;
    color: #424a4f;
}
body {
    padding-top: 40px;
    font-family: Poppins;
    text-align: center;
}


nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        height: 60px;
        display: flex;
        background-color: #BBB;
        overflow: hidden;
        justify-content: center;
        align-content: center;
        align-items: center;
        left: 0;
        top: 0;
        position: fixed;
        font-family: Poppins;
        font-size: 20px;
        text-align: center;
        color: #222;
    }
  
    li { display: inline-block; }
  
    a {
        display: block;
        padding: 6px 12px;
        cursor: pointer;
        margin-right: 5px;
        height: 50px;
        width: 100px;
        line-height: 50px;
        text-decoration: none;
        transition: background-color 0.5s, transform 0.5s;
    }
    a:hover {
        background-color: #AAA;
        text-decoration: underline;
        transform: scale(1.25);
        
    }
  }
  