@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    font-family: Poppins;
    --light-color: #faf8ff;
    --dark-color: #474555;
    --gray-color: #777586;
    --accent-color: #4457a9;
    --generic-gradient: linear-gradient(45deg, rgba(31,50,131,1) 0%, rgba(143,55,137,1) 20%, rgba(214,76,123,1) 40%, rgba(255,123,100,1) 60%, rgba(255,185,87,1) 80%, rgba(249,248,113,1) 100%);
}


body {
    background-color: var(--light-color);
    place-items: center;
    margin-top: 64px;
    height: calc(100vh - 72px)
}

.header {
    width: 100vw;
    height: 64px;
    display: flex;
    background-color: var(--dark-color);
    overflow: hidden;
    left: 0;
    top: 0;
    position: fixed;
}

.header-content-pages {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 20px;
}

.header-content-pages a {
    display: fixed;
    color: var(--light-color);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 25px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    transition: transform 0.5s, text-decoration 0.5s;
}

.header-content-pages a:hover {
    transform: scale(1.25);
    text-decoration: underline;
}

.header-content-right {
    display: flex;
    justify-content: right;
    align-content: right;
    align-items: right;
    text-align: center;
    padding: 7.5px 20px;
    width: 100%;
}

.header-content-right a {
    margin-right: 15px;
    color: var(--light-color);
    font-size: 20px;
    transition: transform 0.5s;
}

.header-content-right a:hover {
    transform: scale(1.25);
}

.page-title {
    border: 5px solid var(--accent-color);
}
.page-content {
    text-align: center;
    line-height: 25px;
    padding: 0 9px;
    border: 5px solid var(--accent-color);
}

.page {
    width: 100%;
    overflow: hidden;
    display: grid;
    color: var(--dark-color);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.page a {
    color: var(--gray-color);
}